{
    "env": {
        "node": true,
        "browser": true,
        "jest": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "settings": {
        "react": {
            "version": "16.0"
        }
    },
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "rules": {
        "arrow-parens": 0,
        "indent": ["error", 4],
        "no-console": ["error", { "allow": ["error"] }],
        "no-continue": 0,
        "operator-linebreak": 0,
        "react/no-unescaped-entities": 0,
        "import/no-extraneous-dependencies": 0
    }
}
