{
    "env": {
        "browser": true,
        "jest": true
    },
    "extends": [
        "airbnb-base",
        "plugin:react/recommended"
    ],
    "settings": {
        "react": {
          "version": "16.0"
        }
    },
    "parser": "babel-eslint",
    "plugins": ["babel"],
    "rules": {
        "arrow-parens": 0,
        "indent": [ "error", 4 ],
        "no-console": ["error", { "allow": ["error"] }],
        "no-continue": 0,
        "operator-linebreak": 0,
        "react/no-unescaped-entities": 0,
        "import/no-extraneous-dependencies": 0
    }
}
