# Publish dist to npm but not to repo
!dist/

# Ignore List
_config.yml
.babelrc
.cache/
.eslintrc
.gitignore
.nvmrc
.prettierrc
.vscode/
app/
docs/
CHANGELOG.md
coverage/
example.gif
example/
.github/
index.html
jest.config.json
jest.config.js
react-step-wizard-*.tgz
rollup.config.js
scripts/
src/
tsconfig.json
webpack.config.js
yarn.lock
yarn*.log
package-lock.json
