# Publish dist to npm but not to repo
!dist/

# Ignore List
_config.yml
.babelrc
.cache/
.eslintrc
.gitignore
.nvmrc
.vscode/
app/
CHANGELOG.md
coverage/
example.gif
example/
index.html
jest.config.json
react-step-wizard-*.tgz
rollup.config.js
scripts/
src/
webpack.config.js
yarn.lock
yarn*.log
