# Publish dist to npm but not to repo
!dist/

# Ignore List
_config.yml
.babelrc
.cache/
.eslintrc
.gitignore
.nvmrc
.vscode/
CHANGELOG.md
example.gif
example/
index.html
react-step-wizard-*.tgz
src/
webpack.config.js
yarn.lock
yarn*.log
