.progress-wrapper {
    padding-top: 100px;
}

.progress {
    height: 8px;
}

.progress-bar {
    background-color: purple;
    transition: all 5s ease;
    width: 0%;

    &.loaded {
        background-color: #007bff;
        width: 100%;
    }
}
