/** Step Wizard */
.step-wizard {
    min-height: 400px;
}

.step-wrapper {
    position: relative;
}

.step {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.active {
    opacity: 1;
    position: relative;
    z-index: 1;
}
